/*=======Підключення шрифтів=======*/
@import url("fonts.css");

/*=======Скидання стилів=======*/
@import url("reset.css");





body {
	font-family: 'Inter', sans-serif;
}


.main {}

.main__container {
	/*ставим по центру карточку*/
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #191919;
	/*ставим по центру карточку*/
}

/*<!-- card -->*/
.card {
	width: 320px;
	height: 500px;
	background-color: rgb(23, 21, 21);
	border-radius: 20px;
	color: #fff;
	box-shadow: 5px 1px 40px #6c6c6c;

}

/*<!-- верх card -->*/
.card__body {
	text-align: center;
}

h1 {
	padding: 20px 0;
	font-size: 25px;
	font-weight: 700;
	color: ;
}

h2 {
	font-size: 14px;
	line-height: 130%;
	padding: 0 15px;
	margin-top: -10px;
	margin-bottom: 15px;
}

/*<!-- foto --> */
.card:hover .card__block-img--1 img {
	transform: scale(1.1);
}

.card__block-img {
	transform: rotateZ(25deg);

	position: relative;
	padding-bottom: 67%;
}
.card__block-img img{
	position: absolute;
	top: 0;
	left: 0px;
	width: 100%;
	height: 100%;
	object-fit: contain;

}
.card__block-img--1 img {
	transition: 1.5s;
	transform: scale(1.001);
}



/*<!-- низ card -->*/
.card__down {
	margin-top: 20px;
	padding: 0 15px;
	font-size: 14px;

	display: flex;
	/* что бы весь блок "content" встал по ЦЕНТРУ */
	flex-direction: column;
	/* что бы весь блок "content" встал по ЦЕНТРУ */
	align-items: center;
	/* что бы весь блок "content" встал по ЦЕНТРУ */

}

.card:hover .card__down p {
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*анимация для .card__down p*/
@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}

	40% {
		opacity: 0.6;
	}

	100% {
		opacity: 1;
	}
}

/*анимация для .card__down p*/


/*Characteristics:*/
.card__down p {
	margin-bottom: 10px;
	text-shadow: 5px 2px 30px #fff;
	font-size: 20px;
	color: rgb(157, 0, 255);
	align-self: start;
	/* только это "Characteristics:" будет СЛЕВА */
}


.list {
	margin-bottom: 7px;
	visibility: hidden;
	opacity: 0;
	/*делаем плавность появления */
	transition: 0.5s;
	/*делаем плавность появления */
}

.card:hover .list {
	visibility: visible;
	opacity: 1;
	/*делаем плавность появления */
}

.link:not(:last-child) {
	margin-bottom: 5px;
}

.link {
	position: relative;
	padding-left: 18px;
	display: inline-block;
	line-height: 140%;
}

.link::before {
	content: "";
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: rgb(157, 0, 255);
	top: 0px;
	left: 0;
	border-radius: 50%;
	border: 1px solid transparent;
	transiton: 0.5s;
}

.link:hover::before {
	border: 1px solid #fff;
	cursor: pointer;
}

/*Buy now <!-- Кнопка --> */
a {
	padding: 15px 30px;
	background-color: rgb(157, 0, 255);
	border-radius: 10px;
	border: 1px solid transparent;
	color: #fff;
	font-wieght: 700;
	text-align: center;
	margin-top: -60px;


	visibility: hiden;
	opacity: 1;
	/*делаем плавность появления */
}

.card:hover a {
	visibility: visible;
	opacity: 0.5;
	/*делаем плавность появления */
	border: 1px solid #fff;
	cursor: pointer;
	animation: slide-rotate-hor-b-fwd 0.9s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/*сценарий анимации*/
@-webkit-keyframes slide-rotate-hor-b-fwd {
	0% {
		-webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
		transform: translateY(0) translateZ(0) rotateX(0deg);
		-webkit-transform-origin: top center;
		transform-origin: top center;
	}

	100% {
		-webkit-transform: translateY(150px) translateZ(130px) rotateX(90deg);
		transform: translateY(150px) translateZ(130px) rotateX(90deg);
		-webkit-transform-origin: top center;
		transform-origin: top center;
	}
}

@keyframes slide-rotate-hor-b-fwd {
	0% {
		-webkit-transform: translateY(0) translateZ(0) rotateX(0deg);
		transform: translateY(0) translateZ(0) rotateX(0deg);
		-webkit-transform-origin: top center;
		transform-origin: top center;
	}

	100% {
		-webkit-transform: translateY(-150px) translateZ(-130px) rotateX(-90deg);
		transform: translateY(-150px) translateZ(-130px) rotateX(-90deg);
		-webkit-transform-origin: top center;
		transform-origin: top center;
	}
}